[user]
	name = Joseph Scott
	email = joseph@josephscott.org

[core]
	autocrlf = false
	safecrlf = true

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %an | %s%d\" --graph -date=short
	type = cat-file -t
	dump = cat-file -p

[pull]
	rebase = false
	autoSetupRemote = true

[push]
	default = simple
	autoSetupRemote = true

[github]
	user = josephscott

[credential]
	helper = cache

[init]
	defaultBranch = trunk
